:host {
    margin-bottom: 6px;
    display: flex;
    flex: 1 1;
    text-align: center;
    min-height: 60px;
    flex-direction: column;
    justify-content: center;
}

.recording-container {
    display: flex;
    flex: 1 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.recording-container .left, .recording-container .middle {
    display: flex;
    flex-direction: column;
    margin-right: 6px;
    justify-content: center;
    text-align: center;
}

.recording-container .middle i {
    margin-top: -12px;
    margin-bottom: 2px;
}

.recording-container .middle {
    padding: 1rem;
}