:host {
    margin: 1rem;
    margin-bottom: 0;
}

.card {
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.card .user-avatar {
    height: 48px;
    width: 48px;
    background-color: teal;
    text-align: center;
    line-height: 48px;
    border-radius: 50%;
    color: white;
    margin-right: 8px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
}

.card .user-avatar.has-image {
    color: transparent;
    background-color: transparent;
}

.card .card-body {
    padding: 6px;
    padding-bottom: 0;
    border-radius: 10px;
    border-top-left-radius: 0px;
}

.card .message-info .time {
    align-self: flex-end;
    display: flex;
    float: right;
    color: gray;
    font-size: 14px;
}